In [1]:
import pandas as pd

In [23]:
a = [(1, "123", 3), [1,3,"asdas"]]
b = pd.DataFrame(a)

   0    1      2
0  1  123      3
1  1    3  asdas

In [34]:
type(b.iloc[0, :])

pandas.core.series.Series